:root {
    --primary-padding: 16px;
    --secondary-padding: 8px;
}

/* ///////////////////////resets/////////////////////////// */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}

img,
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* //////////////////////////////logo///////////////////////////// */

/* Breathing Animation */
/* .logo-animate {
    animation: breathe 4s ease-in-out infinite;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
    transform: scale(1);
}

@keyframes breathe {
    0%, 100% {
        transform: scale(1);
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
    }
    50% {
        transform: scale(1.08);
        filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
    }
} */

/* ////////////////////////logo///////////////////////// */

.logo__img {
    transition: all 0.5s ease-in-out; /* This makes it smooth! */
    display: inline-block;
}

.logo__img--after-scroll {
    height: 5vw;
    width: 5vw;
    min-height: 4rem;
    min-width: 4rem;
}

.logo__img--before-scroll {
    height: 12vw;
    width: 12vw;
    min-height: 6rem;
    min-width: 6rem;
}

/* ///////////////////////navbar/////////////////////////// */

.nav__link {
    position: relative;
    display: inline-block;
}

.nav__link:not(:nth-child(3)) {
    margin: 0 20px;
    padding: 2px 0;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.7px;
    background-color: rgb(255,255,255);
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s cubic-bezier(0.85, 0, 0.15, 1);
}

.nav__link:not(:nth-child(3)):hover::after {
    transform: scaleX(1);
    transform-origin: left;
}